$main-text: #1E1584;
$main-text-lighter: #524E7D;
$main-gradient: linear-gradient(180.18deg, rgba(246, 245, 255, 0.5) 0.16%, rgba(240, 240, 255, 0.5) 0.16%, rgba(114, 101, 251, 0.5) 100.57%);
$main-blue: linear-gradient(180deg, #ACA4FF 0%, #7B6FFF 0.01%, #5242FF 99.98%);
$main-gray: rgba(114, 101, 251, 0.1);
$white-gradient: linear-gradient(180deg, #F9F9FF 0%, #FFFFFF 0%, #F2F1FF 100.05%);
$green: #26E27C;
$main-text : #1E1584;
$default-lineHeight: 135.7%;